on:
  pull_request:
    types: [opened, synchronize] 
    branches: [master]
  push:
    branches: [master]

name: "CI pipeline"
permissions: {}

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master